body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: radial-gradient(ellipse 40% 80% at 0% 50%, #bc82ff 0%, #9d47ff 20%, #5d1da6 40%, #350b66 60%, #120c26 80%, #0a061a 100%);
  color: #fff;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #bbb0 #0000;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardContainer {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(58, 28, 113, 0.3);
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgba(126, 94, 255, 0.329);
  margin: 0 auto;
  box-sizing: border-box;
}

/* Webkit global scrollbar
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
} */